


.App {
    text-align: center;
    font-family: 'Georgia', Times, serif;
    background-color: #000;
    padding: 20px;
    transition: background-color 0.3s ease;
    border-radius: 6px;
    
  }

  h1{
    color: #fff;
    text-align: center;
    
  }
  
  
  
  .article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(187, 176, 165);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.1s ease-out;
  }
  
  .article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0c0c0c;
  }
  
  .article p {
    font-size: 1em;
    line-height: 1.6;
    color: #0a0909;
  }
  
  .article a {
    display: inline-block;
    margin-top: 10px;
    color: rgb(70, 44, 34);
    text-decoration: none;
    background-color: #dcd0d0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    max-width: 200px;
    overflow-wrap: break-word;
  }
  
  .article a:hover {
    background-color: #666;
  }
  
  .article img {
    display: block;
    margin: auto;
    max-width: 200%; 
    height: auto;
    border: 2px solid #000; 
    border-radius: 20px; 
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: transform 0.3s ease, border-color 0.3s ease, opacity 0.3s ease; 
    border: 2px solid #000;
}

.article img:hover {
    transform: scale(1.05); 
    border-color: #ff0000; 
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3); 
    opacity: 1; 
}


@media screen and (max-width: 600px) {
    .article img {
        max-width: 100%; 
        transform: scale(1); 
    }

    .article img:hover {
        transform: none; 
    }

   
}

@media screen and (max-width: 1200px) {
    .article p {
        font-size: 14px; /* Adjust the font size for medium screens */
    }
}

@media screen and (max-width: 600px) {
    .article p {
        font-size: 12px; /* Adjust the font size for small screens */
    }
}

.footer {
    height: 50px; /* Adjust this value to change the height of the footer */
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #fffdfd;
    color: #000000;
    text-align: center;
    line-height: 50px; 
    clear: both; 
    border-radius: 4px;
}





.navbar-links ul {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.navbar-links li {
    float: left;
}

.navbar-links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.navbar-links.active {
  max-height: 200px; 
}

.navbar-links.active ul {
  opacity: 1;
}

.navbar-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.navbar-links li a:hover {
    background-color: #555; /* Change background color on hover */
}

.navbar-links li a.active {
    background-color: #4CAF50; /* Highlight the active link */
}

.toggle-button {
    display: none;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}



.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 5px;

}


.hamburger span {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  transition: all 0.3s linear;
}


.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(0.35rem, 0.35rem);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0.35rem, -0.35rem);
}

@media (max-width: 800px) {
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }
}

@media (max-width: 800px) {
    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }
}

@media (max-width: 600px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .header-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%; /* or any desired width */
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a shadow for depth */
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 1s ease; /* Add transition for smooth hover effect */
      backface-visibility: hidden; /* Hide the back of the image */
  }
  
  .header-image:hover {
    transform: scale(1.1) rotate(10deg) translate(10px, 10px); /* Make the image larger, rotate it, and move it */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* Add drop shadow */
    filter: brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(1000%) blur(5px); /* Add color filter and blur */
    animation: pulse 2s infinite; /* Add pulse animation */
}


html{
    scroll-behavior: smooth;
    background-color: #000;
}


  .container {
    width: 80%;
    padding: 20px;
  }
  
  h2{
    color: #fffbfb;
    text-align: center;
  }

  .clock {
    font-family: 'Bungee Inline';
    font-size: 3em;
    color: #000000;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: fit-content;
    background: url('../src//images/Snowy.png');
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5), 0 0 5px #070707, 0 0 10px #000000, 0 0 15px #060606, 0 0 20px #000000;
    backdrop-filter: blur(10px);
    transition: transform 0.2s;
  }
  

  .clock:hover {
    animation: bounce 2s infinite;
  }
  

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }